.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 77px;
  padding: 66px 0;
}

@media (max-width: 1020px) {
  .container {
    gap: 20px;
  }
}

@media (max-width: 910px) {
  .container {
    grid-template-columns: 1fr 1fr;
    gap: 77px;
  }
}

@media (max-width: 693px) {
  .container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
    gap: 77px;
  }
}
