.section {
  display: flex;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1400px;
  padding: 20px;
  min-height: 700px;
  color: white;
}

.blur {
  position: absolute;
  top: -11;
  left: 0;
}

.blurBig {
  position: absolute;
  right: -400;
  top: -11;
}

.spiral {
  position: absolute;
  right: -120;
}

.textContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  font-size: 40px;
  font-weight: 900;
  margin-top: 102px;
  line-height: 49.6px;
  position: relative;
  z-index: 2;
}

.subtitle {
  margin-top: 9px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40.98px;
  color: rgba(224, 224, 224, 1);
  font-family: var(--font-manrope), sans-serif;
  position: relative;
  z-index: 2;
}

.price {
  margin-top: 48px;
  font-weight: 500;
  font-size: 55px;
  line-height: 68.2px;
  color: rgba(153, 194, 255, 1);
  position: relative;
  z-index: 2;
}

.button {
  position: relative;
  z-index: 2;
  margin-top: 72px;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  padding: 20px 50px;
  border-radius: 17px;
  background: linear-gradient(to bottom, rgba(255, 8, 0, 1), rgba(184, 12, 6, 1));
}

.monitor {
  position: absolute;
  right: -100;
  top: -70;
  z-index: 1;
  max-height: 860px;
}

.cursor {
  position: absolute;
  bottom: -70;
  right: -70;
}

@media (max-width: 1195px) {
  .button {
    margin-top: 32px;
  }
}

@media (max-width: 1043px) {
  .price {
    margin-top: 24px;
  }
}

@media (max-width: 956px) {
  .container {
    min-height: 567px;
    width: 100%;
  }

  .textContainer {
    display: block;
    height: 100%;
  }

  .textContainerMobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 22px;
    margin-top: 18px;
    line-height: 27px;
    font-weight: bold;
  }

  .subtitle {
    margin-top: 7px;
    font-size: 16px;
    line-height: 22px;
  }

  .price {
    margin-top: 10px;
    font-size: 22px;
    line-height: 27px;
  }

  .button {
    width: 100%;
    margin: 12px 0;
    font-size: 22px;
    padding: 15px 35px;
  }

  .cursor {
    width: 35px;
    height: 35px;
    bottom: -10;
    right: -10;
  }

  .monitor {
    right: 50%;
    top: 50%;
    transform: translate(45%, -45%);
    max-width: 428;
    max-height: 428px;
  }

  .blurBig {
    width: 465px;
    right: 0;
    top: 50%;
    transform: translate(20%, -45%) rotate(90deg);
  }

  .spiral {
    width: 222px;
    right: 0;
    top: 50%;
    transform: translate(0%, -45%);
  }

  .blur {
    top: -11;
    left: -100;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 10px;
  }

  .cursor {
    right: 0;
  }
}
