.container {
}

.h2 {
	font-weight: bold;
	font-size: 40;
	color: black;
	justify-content: center;
	display: flex;
}
.h5 {
	font-size: 30px;
	font-weight: 600;
	color: black;
	line-height: 30px;
}

.text {
	font-size: 20px;
	font-weight: 400;
	color: black;
	line-height: auto;
}

.smallGapLeft {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.smallGapRight {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: end;
}

.smallGapBottom {
	display: flex;
	flex-direction: column;
	gap: 1px;
}

.secondaryContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	padding-bottom: 60px;
	background-image: url(/Tel.png);
	background-repeat: no-repeat;
	background-position: 50% 100% ;
	background-size: 694px 688px;
}

.leftSideContainer {
	display: flex;
	flex-direction: column;
	text-align: left;
}
.quickConnection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 310px;
	gap: 10px;
	margin-bottom: 77px;
}

.camera {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	max-width: 210px;
	margin-bottom: 54px;
}

.microphone {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 310px;
	gap: 10px;

}

.rightSideContainer {
	display: flex;
	flex-direction: column;
	text-align: right;
	align-items: end;
}

.softSpelling {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
	max-width: 310px;
	gap: 10px;
	margin-bottom: 77px;
}

.fileTransfer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
	max-width: 310px;
	gap: 10px;
	margin-bottom: 54px;
}

.fourK {
	display: flex;
	flex-direction: column;
	align-items: end;
	max-width: 310px;
	gap: 10px;
}

.image {
	display: flex;
	gap: 13.1px;
}

.bottom{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: left;
}

.projectingPhone {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 9px;
	max-width: 302px;
}