.container {
	display: block;
	margin-top: 105px;
	flex-direction: column;
}

.h2 {
	font-weight: 800;
	font-size: 40px;
	color: black;
	justify-content: center;
	text-align: center;
	display: flex;
}

.secondaryContainer {
	margin-top: 34px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 81px;
}



.divImage {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.text {
font-weight: 500;
font-size: 25px;
color: black;
text-align: center;
}